<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
    <div class="field">
    <%= f.label :fone %>
    <%= f.text_field :fone %>
  </div>
  


  <div class="field">
  <%= f.label :cep %><br>
  <%= f.text_field :cep, :onBlur => "jsBuscaCep()" %>
  </div>

  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="actions">
   <%= f.submit %>
  </div>  
<% end %>

<script>
  function jsBuscaCep() {
    var cep = document.getElementById( "cliente_cep" ).value;
    $.getJSON("/cliente/" + cep + "/busca_por_cep",
      function ( data ) {
        console.log(data);
        $("#cliente_endereco").val(data.tipo_logradouro + ' ' + data.logradouro);
        $("#cliente_bairro").val(data.bairro);
        $("#cliente_cidade").val(data.cidade);
        $("#cliente_estado").val(data.uf);
        $("#cliente_numero").focus();
      }
    );
  }
</script>
