<p id="notice"><%= notice %></p>

<h1>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Subcategoriaproduto</th>
      <th>categoriaproduto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div>
      <%= form_tag(produtos_path, :method => :get) do %>
            <%= text_field_tag 'search', nil, placeholder: 'Buscar...' %> 
            <%= submit_tag "Buscar"%>
      <%end%>
    </div>  
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.subcategoriaproduto.nome %></td>
        <td><%= produto.subcategoriaproduto.categoriaproduto.nome %></td>
        <td><%= link_to 'Show', produto %></td>
        <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
        <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>

<script type="text/javascript">
</script>